/* =========================================
    ESTILOS GENERALES (Cuerpo, Menú y Footer)
   ========================================= */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background: #c9710c;
}

.menu {
    width: 100%;
    z-index: 1000;
}

.menu nav {
    background-color: antiquewhite;
    padding: 10px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img {
    width: 60px;
    height: auto;
    display: block;
}

.menu ul {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    gap: 15px;
}

.menu li {
    display: inline;
    padding: 15px;
}

.menu a {
    text-decoration: none;
    color: rgb(68, 32, 2);
    font-weight: bold;
    padding: 0, 5rem 1rem;
}

.menu a:hover {
    background-color: rgb(68, 41, 0);
    color: rgb(175, 175, 175);
    border-radius: 20px;
    padding: 10px;
    font-style: italic;
}

footer {
    display: flex;
    align-items: center;
    background-color: #4a2311;
    color: rgb(122, 224, 130);
    padding: 15px 40px;
    margin-top: 50px;
}

.redes {
    display: flex;
    gap: 15px;
    flex: 1;
}

.redes img {
    width: 35px;
    height: auto;
}

.redes img:hover {
    transform: translateY(-5px);
}

.fox-logo {
    flex: 1;
    display: flex;
    justify-content: center;
}

.fox-logo img {
    width: 70px;
}

.copyright {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    font-size: 1.1rem;
    font-weight: bold;
}


/* =========================================
   ESTILOS ESPECÍFICOS DE CONTACTO
   ========================================= */
.contact-container {
    max-width: 1000px;
    margin: 0 auto;
}

.page-title {
    margin-top: 100px;
    font-size: 40px;
    margin-bottom: 10px;
    text-align: center;
    color: rgb(58, 20, 5);
}

.contact-content {
    display: flex;
    gap: 30px;
}

.sketch-box-fill {
    background-color: rgba(230, 126, 34, 0.05);
    padding: 30px;
}

.form-group {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
}

label {
    font-size: 1.2rem;
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="#"],
select {
    font-family: 'Indie Flower', cursive;
    font-size: 20px;
    padding: 10px;
    background-color: transparent;
    border: 1px solid #a0522d;
}

input:focus,
select:focus {
    background-color: rgba(241, 189, 129, 0.5);
}

.options-group {
    flex-direction: row;
    gap: 20px;
}

.sketch-fieldset {
    background-color: #a0522d;
    padding: 10px;
    border-radius: 10px;
    flex: 1;
}

.sketch-fieldset legend {
    padding: 0 5px;
    font-weight: bold;
}

.sketch-fieldset label {
    font-size: 17px;
    display: block;
    font-weight: normal;
    cursor: pointer;
}

.submit-btn {
    font-family: 'Indie Flower', cursive;
    font-size: 20px;
    font-weight: bold;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    width: 100%;
    margin-top: 10px;
    background-color: #a0522d;
}

.submit-btn:hover {
    background-color: green;
    transform: scale(1.05) rotate(-2deg);
}

.map-container {
    height: 100%;
    width: 100%;
    min-height: 390px;
    display: block;
    padding: 5px;
    background-color: rgb(75, 30, 30);
    overflow: hidden;
    flex: 1;
}

.map-container iframe {
    width: 100%;
    height: 100%;
    min-height: 390px;
    display: block;
}

/* =========================================
   MEDIA QUERIES OBLIGATORIAS (3 Tamaños)
   ========================================= */

/* 1. TABLET (Pantallas medianas) */
@media (max-width: 1024px) {
    .menu nav { padding: 10px; }
    footer { padding: 15px; }
    .slider-container { height: 350px; } 
}

/* 2. MÓVIL NORMAL (Pantallas pequeñas) */
@media (max-width: 768px) {

    .main-layout, .hero, .contact-content { flex-direction: column; text-align: center; }
    .slider-container { height: 250px; } 
}

/* 3. MÓVIL PEQUEÑO (Pantallas muy pequeñas) */
@media (max-width: 480px) {
    .menu ul { flex-direction: column; gap: 5px; }
    footer { flex-direction: column; text-align: center; gap: 10px; }
    .slider-container { height: 180px; border-width: 2px; } 
}