* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background: #c9710c;
    }

.menu {
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1000;
    
}

.menu img{
    float: left;
    margin-left: 25px;
    width: 8%;
}

.menu nav{
background-color: antiquewhite;
padding: .5%;

}

.menu ul {
    margin-top: 30px;
    text-align: right;
    padding: 5px;
}

.menu li {
    display: inline;
    padding: 15px;

}

.menu a {
    text-decoration: none;
    color: rgb(68, 32, 2);
    font-weight: bold;
    padding: 0, 5rem 1rem;

}

.menu a:hover {
    background-color: rgb(68, 41, 0);
    color: rgb(175, 175, 175);
    border-radius: 20px;
    padding: 10px;
    font-style: italic;
}


.aside{
    display: inline-block;
    
}





.main-layout {
    display: grid;
    grid-template-columns: 200px 1fr;
    gap: 40px;
}

aside {
    padding-top: 80px;
}


.sidebar-menu {
    list-style: none;
}

.sidebar-menu li {
    font-size: 25px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    gap: 10px;
    color: aliceblue;
}


main {
    display: flex;
    flex-direction: column;
    gap: 40px;
}


.hero {
    display: flex;
    align-items: center;
    gap: 30px;
}

.hero-image img {
    margin-top: 90px;
    width: 300px;
    height: auto;
}

.sketch-bg-green {
    margin-top: 90px;
    background-color: green;
    padding: 30px;
    flex-grow: 1;
}

.hero-text h2 {
    margin-bottom: 10px;
    font-size: 2rem;
}


.card-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    color: beige;
}

.sketch-box-fill {
    background-color: rgb(153, 79, 10); 
    padding: 30px;
}


@media (max-width: 768px) {
    .main-layout {
        grid-template-columns: 1fr;
    }
    
    .hero {
        flex-direction: column;
    }
    
    .card-grid {
        grid-template-columns: 1fr;
    }
    
    aside {
        display: none; 
    }
}








footer {
    width: 100%;
    margin: 40px auto;
    background-color: rgb(77, 29, 1);
    color: aliceblue;
    margin-top: 100px;
}

footer div {
    display: inline-block;
}

.redes img {
    width: 10%;
}

footer .redes {
    margin-top: 30px;
    float: left;
}

footer .fox-logo {
    margin-left: 50%;
    margin-bottom: 20px;
}

footer .copyright {
    float: right;
}